@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Medium-12.ttf") format("woff2");
}

/* 背景颜色 */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #223448, #2d434b, #1f2b4f, #26475c);
    background-size: 800% 800%;
    animation: gradientAnimation 15s ease infinite;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 导航栏 */
.container {
    position: relative;
    margin-left: 30px;
}

.nav {
    position: fixed;
    top: 10%;
    left: 20px;
    height: 70%;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.143);
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.nav .head {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    position: relative;
    margin: 20px auto;
    transition: transform 0.5s;
    transform-origin: center -15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
}

.nav:hover {
    width: 200px;

}
.split{
    background-color: #fff;
    height: 1px;
    width: 80%;
    top: 5px;
    justify-content: center;
    align-items: center;
}
.btn-item {
    position: relative;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-item::after {
    content: attr(data-text);
    top: 10px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: transparent;
    transition: 0.3s;
    text-align: center; /* 更新此行 */
}

.nav:hover.btn-item::after {
    color: #fff;
}

.btn-item i {
    color: #ffffff; /* 设置图标的颜色 */
}

.nav:hover .head {
    transform: scale(2);
}

.nav .head img {
    width: 100%;
    height: auto;
}

.info {
    position: relative;
    top: 5px;
    flex-grow: 1;
    font-size: 20px;
    display: flex;
    color: #ffffff;
    font-family: "Roboto";
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    letter-spacing: 2px;
}

.nav:hover .info{
    opacity: 1;
    font-size: 25px;
}
